<h3>Component</h3>

@page "/component"

<h3>Tweets</h3>

<div class="card mb-2">
    <p class="card-body">
        This is a tweet
    </p>
</div>
<div class="card mb-2">
    <p class="card-body">
        This is a tweet
    </p>
</div>

@code {

}
