@page "/"
@using BlazorApp
@inject HttpClient Http
<h1>BD Clinic</h1>
<Login_Page></Login_Page>
<style>
    h1 {
        text-align: center;
        align-content: center;

    }
    
</style>
@code
{
}